html   {
    height: 100%;
    margin: 0;

}
body   {
    margin: 0 auto;
    background: linear-gradient(180deg, rgb(71, 70, 69), rgb(226, 146, 8)) fixed;
    height: 100%;
    overflow-anchor: none;
}


#page-wrap {
    width: 800px;
    margin: 0 auto;
}